// Partials
@import "./resets";
@import "./variables";

@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}


body {
    background: $primary-color;
    color: $text-color;
    // maping
    font-weight: map-get($font-weight, bold);
}

// Nesting
.main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: weight(medium);
        color: $text-color;

        &:hover {
            color: pink;
        }
    }
}