// Partials
@import "./resets";
@import "./variables";
@import "./mixins";

@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

body {
    background: $primary-color;
    color: $text-color;
    // maping
    font-weight: map-get($font-weight, bold);
}

// Nesting
.main {
    @include flexCenter(row);
    width: 100% - 20%;
    margin: 0 auto;

    #{&}__paragraph1 {
        font-weight: weight(medium);
        color: $text-color;

        &:hover {
            color: pink;
        }
    }

    // Extend
    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: black;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme(false);
}